PORT=3000
SECRET_KEY=replace_with_a_long_random_secret
PUBLIC_URL=https://watch.aradhyac.com
SESSION_SECRET=replace_with_a_long_random_secret
# Generate hashes: node -e "require('bcryptjs').hash('yourpassword',10).then(console.log)"
AUTH_USERS=username1:$2b$10$hash1,username2:$2b$10$hash2
